# Development dependencies for formatting, type checking, and testing
pytest>=7.4.0,<8.0.0      # Unit testing
pytest-cov>=4.1.0,<5.0.0  # Test coverage
mypy>=1.5.0,<2.0.0        # Static type checks
black>=23.9.0,<24.0.0     # Code formatting
build>=1.0.0              # Build packages
twine>=4.0.0              # Upload packages
